<h2 mat-dialog-title>Política de Cookies</h2>
<mat-dialog-content class="">
  <h3>¿Qué son las cookies?</h3>
  <p>
    Las cookies son pequeños archivos de texto que se almacenan en tu
    dispositivo cuando visitas un sitio web. Estas cookies permiten que el sitio
    web recuerde tus acciones y preferencias (como inicio de sesión, idioma,
    tamaño de fuente y otras preferencias de visualización) durante un período
    de tiempo, para que no tengas que volver a configurarlas cada vez que
    vuelves al sitio o navegas de una página a otra.
  </p>
  <h3>¿Qué tipo de cookies utilizamos?</h3>
  <ul>
    <li>
      <strong>Cookies necesarias:</strong> Estas cookies son esenciales para el
      funcionamiento del sitio web. Nos permiten ofrecer servicios que has
      solicitado específicamente, como el acceso a áreas seguras del sitio.
    </li>
    <li>
      <strong>Cookies de terceros:</strong> Utilizamos cookies de terceros para
      servicios específicos, como la integración de videos de YouTube. Estas
      cookies son necesarias para que el contenido de terceros funcione
      correctamente en nuestro sitio.
    </li>
  </ul>
  <h3>¿Cómo puedes gestionar las cookies?</h3>
  <p>
    Puedes controlar y/o eliminar las cookies según tus preferencias. Puedes
    eliminar todas las cookies que ya están en tu dispositivo y configurar la
    mayoría de los navegadores para evitar que se almacenen. Sin embargo, si lo
    haces, es posible que tengas que ajustar manualmente algunas preferencias
    cada vez que visites un sitio, y algunos servicios y funcionalidades pueden
    no funcionar.
  </p>
  <p>
    Para obtener más información sobre cómo gestionar y eliminar las cookies,
    visita aboutcookies.org.
  </p>

  <h2>Política de Privacidad</h2>
  <h3>Información que recopilamos</h3>
  <p>
    Recopilamos información personal que nos proporcionas directamente, como tu
    nombre, dirección de correo electrónico y cualquier otra información que
    decides compartir al utilizar nuestros servicios o al ponerte en contacto
    con nosotros.
  </p>
  <h3>Uso de la información</h3>
  <p>Utilizamos la información que recopilamos para:</p>
  <ul>
    <li>Proporcionar y mejorar nuestros servicios.</li>
    <li>Cumplir con las obligaciones legales.</li>
    <li>Comunicarnos contigo para resolver cualquier consulta o problema.</li>
  </ul>
  <h3>Compartir información con terceros</h3>
  <p>
    No compartimos tu información personal con terceros, salvo en las siguientes
    circunstancias:
  </p>
  <ul>
    <li>
      <strong>Proveedores de servicios:</strong> Compartimos información con
      proveedores que realizan servicios en nuestro nombre, como alojamiento de
      sitios web, análisis de datos, procesamiento de pagos y otros servicios
      relacionados.
    </li>
    <li>
      <strong>Obligaciones legales: </strong>Podemos divulgar información si
      creemos que es necesario para cumplir con la ley, responder a una
      solicitud gubernamental, proteger la seguridad de cualquier persona, o
      para proteger nuestros derechos legales.
    </li>
  </ul>
  <h3>Tus derechos</h3>
  <p>
    Dependiendo de tu ubicación, puedes tener ciertos derechos respecto a tu
    información personal, incluidos los derechos de acceso, rectificación,
    supresión y portabilidad de datos. Puedes ejercer estos derechos poniéndote
    en contacto con nosotros a través de la información de contacto
    proporcionada en esta política.
  </p>
  <h3>Cambios en esta política</h3>
  <p>
    Podemos actualizar esta política de vez en cuando. Te notificaremos
    cualquier cambio publicando la nueva política en nuestro sitio web. Te
    recomendamos revisar esta política periódicamente para estar al tanto de
    cualquier cambio.
  </p>
  <h3>Contacto</h3>
  <p>
    Si tienes alguna pregunta o inquietud sobre nuestra política de cookies o
    privacidad, no dudes en contactarnos a través de {{ emailBailaConSara }}.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
