<!-- toma un padding top con el mismo tamaño que el navbar, para que no se quede escondido -->
<div class="padding-top-adjust">
  <!-- icono -->
  <div class="flex justify-center">
    <div class="icono-container fondo-white margin-top1rem">
      <mat-icon
        aria-hidden="false"
        aria-label="Clases de bachata en Torremolinos"
        fontIcon="schedule"
        class="text-red icons"
      >
      </mat-icon>
    </div>
  </div>

  <!-- titulo -->
  <h2 class="titulo text-center text-x-large">
    <span class="text-red">HORARIOS DE CLASES</span> CURSO 2024/2025
  </h2>

  <!-- horarios container -->
  <div class="horarios-container flex flex-column gap-1">
    <!-- horario de mañana -->
    <div class="horarios-morning content-card-container">
      <div class="horarios-wrapper">
        <div class="horario-header">
          <h2 class="text-center">
            HORARIOS <span class="text-red">DE MAÑANA</span>
          </h2>
          <h3 class="text-center">Martes y Jueves</h3>
          <h3 class="text-center">
            Clases de bachata, salsa y kizomba en Málaga en
            <a href="https://goo.gl/maps/QSf7APzPPpuMo78PA">
              <button mat-button>
                <span class="text-red">Atrévete</span>,
              </button> </a
            >Torremolinos.
          </h3>
        </div>
        <!-- tabla horario mañanas -->
        <div class="flex flex-column align-items-center fondo-black">
          <table class="width-full">
            <thead
              class="flex-behaviour width-full fondo-red flex justify-space-around align-items-center"
            >
              <th>HORA</th>
              <th>ESTILO</th>
              <th>NIVEL</th>
            </thead>
            <tbody class="width-full">
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">9:30</td>
                <td class="flex-1 text-center">
                  <span class="text-red">S</span>alsa y
                  <span class="text-red">B</span>achata
                </td>
                <td class="flex-1 text-center">Intermedio</td>
              </tr>
              <mat-divider></mat-divider>
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">10:30</td>
                <td class="flex-1 text-center">
                  <span class="text-red">K</span>izomba
                </td>
                <td class="flex-1 text-center">Abierto</td>
              </tr>
              <mat-divider></mat-divider>
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">11:30</td>
                <td class="flex-1 text-center">
                  <span class="text-red">S</span>alsa y
                  <span class="text-red">B</span>achata
                </td>
                <td class="flex-1 text-center">Avanzado</td>
              </tr>
              <mat-divider></mat-divider>
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">12:30</td>
                <td class="flex-1 text-center">
                  <span class="text-red">S</span>alsa,
                  <span class="text-red"> B</span>achata y
                  <span class="text-red">K</span>izomba
                </td>
                <td class="flex-1 text-center">Principiantes</td>
              </tr>
              <mat-divider></mat-divider>
            </tbody>
            <tfoot class="">
              <p class="tabla-foot-text">
                Horarios pensados para personas que tienen turnos de tarde o
                rotatorios. Se pueden combinar las clases de mañana con las de
                tarde.
              </p>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <!-- horario de tarde -->
    <div class="horarios-tarde content-card-container">
      <div class="horarios-wrapper">
        <div class="horario-header">
          <h2 class="text-center">
            HORARIOS <span class="text-red">DE TARDE</span>
          </h2>
          <h3 class="text-center">Lunes y Miércoles</h3>
          <h3 class="text-center">
            Clases de bachata, salsa y kizomba en Málaga en
            <a href="https://goo.gl/maps/QSf7APzPPpuMo78PA">
              <button mat-button>
                <span class="text-red">Innova</span>,
              </button> </a
            >Arroyo de la Miel.
          </h3>
        </div>
        <!-- tabla horario tarde -->
        <div class="flex flex-column align-items-center fondo-black">
          <table class="width-full">
            <thead
              class="flex-behaviour width-full fondo-red flex justify-space-around align-items-center"
            >
              <th>HORA</th>
              <th>ESTILO</th>
              <th>NIVEL</th>
            </thead>
            <tbody class="width-full">
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">17:15</td>
                <td class="flex-1 text-center">
                  <span class="text-red">S</span>alsa,
                  <span class="text-red"> B</span>achata y
                  <span class="text-red">K</span>izomba
                </td>
                <td class="flex-1 text-center">Principiantes</td>
              </tr>
              <mat-divider></mat-divider>
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">18:15</td>
                <td class="flex-1 text-center">
                  <span class="text-red">S</span>alsa y
                  <span class="text-red">B</span>achata
                </td>
                <td class="flex-1 text-center">Intermedio</td>
              </tr>
              <mat-divider></mat-divider>
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">19:15</td>
                <td class="flex-1 text-center">
                  <span class="text-red">K</span>izomba
                </td>
                <td class="flex-1 text-center">Abierto</td>
              </tr>
              <mat-divider></mat-divider>
              <tr class="flex-behaviour width-full flex align-items-center">
                <td class="flex-1 text-center">20:15</td>
                <td class="flex-1 text-center">
                  <span class="text-red">S</span>alsa y
                  <span class="text-red">B</span>achata
                </td>
                <td class="flex-1 text-center">Avanzado</td>
              </tr>
              <mat-divider></mat-divider>
            </tbody>
            <tfoot class="">
              <h3 class="text-center tabla-foot-text">
                Nuevo grupo <span class="text-red">desde cero</span> cada 3
                meses
              </h3>
              <p class="tabla-foot-text">
                Darás tus primeros pasos con gente de tu mismo nivel en grupos
                reducidos.
              </p>
              <div class="text-right">
                <button
                  mat-button
                  [routerLink]="['/singlePostTemplate/' + principiantesPostId]"
                  class="text-right"
                >
                  <mat-icon class="text-red text-smaller">read_more</mat-icon>
                  Más información
                </button>
              </div>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- slant rojo -->
  <app-slant
    [backgroundColor]="slantBackgroundColor"
    [textColor]="slantTextColor"
    [text1]="slantText1"
    [text2]="slantText2"
  >
  </app-slant>

  <!-- niveles -->
  <div class="niveles-container">
    <mat-card class="content-card margin-top-1rem fondo-black">
      <app-niveles
        [backgroundColor]="nivelesBackgroundColor"
        [nivelesTitleColor]="nivelesTitleColor"
        [iconNivelesSrc]="iconNivelesSrc"
        class="margin-top-1rem margin-bottom-1rem"
      ></app-niveles>
    </mat-card>
  </div>

  <!-- preguntas frecuentes -->
  <div class="join-to-slant fondo-black margin-top-3"></div>
  <div class="fondo-black preguntas-main-container">
    <div class="preguntas-frecuentes-container">
      <!-- icono titulo -->
      <div class="flex justify-center">
        <div class="icono-container">
          <mat-icon
            aria-hidden="false"
            aria-label="Clases de bachata en Torremolinos"
            fontIcon="help"
            class="text-red icons z-index-1000"
          >
          </mat-icon>
        </div>
      </div>
      <!-- preguntas frecuentes -->
      <h2 class="preguntas-title titulo text-center text-x-large">
        <span class="text-red">PREGUNTAS</span> FRECUENTES
      </h2>
      <div class="acordeon margin-top1rem padding-bottom-1rem">
        <mat-accordion class="preguntas-frecuentes">
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Debo ir con pareja a las clases de Salsa, Bachata o kizomba?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              No, se puede acudir sin pareja, aunque si la traes, mejor que
              mejor. Rotamos las parejas de manera que todos tengan la
              oportunidad de bailar.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Es necesario llevar algún calzado especial?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              Cualquier calzado que te recoja el tobillo y que tenga una suela
              que deslice, es bueno para bailar.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Debo ir vestido de alguna forma específica?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              No, puedes venir vestido con lo que te sientas más cómodo.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Es flexible el horario de las clases de baile?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              Sí, se puede asistir un día de mañana y otro de tarde, o una
              semana de mañana y otra de tarde. Incluso, hay alumnos que asisten
              todas las mañanas y todas las tardes.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Es fácil aparcar en las clases por las mañanas?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              Sí, la mayor parte del año, exceptuando julio y agosto.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Se puede aparcar con facilidad en las clases de baile por las
                tardes?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              Se aparca fácilmente la mayor parte del año, exceptuando agosto.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Dais clases de Salsa, Bachata y Kizomba todo el año?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              Sí, damos clase todo el año, incluidos julio, agosto y diciembre.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Tengo que esperar al primer día del mes para apuntarme?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              No, te puedes incorporar cuando quieras, aunque será más fácil a
              principio de mes, ya que es cuando comenzamos las nuevas
              combinaciones.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Soléis salir a algún sitio a bailar por Málaga?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-gray">
              Sí, varias veces al mes hacemos una quedada, para que se pueda
              practicar lo aprendido con los compañeros.
            </p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
