//Ajusta el padding del componente para que no quede oculto por el nav
.padding-top-adjust {
  padding-top: 112px;
}

//formato del contenedor del icono que acompaña al título
.icono-container {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: red;
}

//tamaño de los iconos
.icons {
  font-size: 40px;
  width: 40px;
  height: 40px;
  align-self: center;
}

//Título
.title {
  width: 90%;
  margin: 2rem auto !important;
  text-align: center;
  font-size: x-large;
}

//contendor del los inputs para recuperar contraseña
.form-container {
  padding-top: 1rem;
  max-height: 75vh;
  width: 90%;
  overflow-x: auto;
  margin: auto auto 1rem auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 3px solid red;
}

//tamaño de cada uno de los campos del formulario
.form-field {
  width: 90%;
  --mdc-filled-text-field-container-color: #212121;
}

//se aplica al botón de enviar
.width-full {
  width: 100%;
}
//margenes del boton submit
.margin-top-bottom {
  margin: 1rem auto;
}

.margin-top-2rem {
  margin-top: 2rem;
}

/* Vista pantallas mayores de 600px*/
@media (min-width: 600px) {
  //Ajusta el padding del componente para que no quede oculto por el nav
  .padding-top-adjust {
    padding-top: 128px;
  }
}

/* Vista Tablet*/
@media screen and (min-width: 791px) and (max-width: 1007px) {
  .form-container {
    width: 80%;
  }
}

/***************** Vista PC 1008 ****************/
@media screen and (min-width: 1008px) {
  .form-container {
    width: 60%;
  }
}
