<!-- toma un padding top con el mismo tamaño que el navbar, para que no se quede escondido -->
<div class="padding-top-adjust">
  <!-- icono y titulo -->
  <div>
    <div class="flex justify-center">
      <div class="icono-container margin-top1rem">
        <mat-icon
          aria-hidden="false"
          aria-label="Clases de bachata en Torremolinos"
          fontIcon="password"
          class="icons"
        >
        </mat-icon>
      </div>
    </div>
    <h2 class="title">CAMBIAR <span class="text-red">CONTRASEÑA</span></h2>
  </div>
  <!-- input para introducir email -->
  <div class="form-container">
    <mat-form-field class="form-field">
      <mat-label class="text-white">Introduce tu Email</mat-label>
      <input matInput placeholder="email" [(ngModel)]="email" #inputEmailOtp />
      @if (requestOtp) {
      <button
        matSuffix
        mat-icon-button
        aria-label="solicitar cambio de password"
        (click)="handleRerequestOTP(inputEmailOtp.value)"
      >
        <mat-icon class="text-red">send</mat-icon>
      </button>
      }
    </mat-form-field>
    @if (isLoading) {
    <div class="flex justify-center margin-bottom-1rem">
      <mat-spinner class="spinner"></mat-spinner>
    </div>
    }@else { @if (!requestOtp) { @if (!resetPassword) {
    <mat-form-field class="form-field">
      <mat-label class="text-white">Introduce la contraseña recibida</mat-label>
      <input matInput placeholder="Contraseña" #inputOTP />
      <mat-hint align="start"
        >Introduce la contraseña de un solo uso que hemos enviado a tu email
      </mat-hint>
    </mat-form-field>
    <div class="width-90 margin-auto">
      <button
        mat-fab
        extended
        color="primary"
        class="width-full margin-bottom-1rem margin-top-2rem"
        (click)="handleConfirmOtp(inputOTP.value, inputEmailOtp.value)"
      >
        <mat-icon>send</mat-icon>
        Enviar
      </button>
      <a (click)="reRequestOtp()">
        <p class="text-red pointer">
          Solicitar una nueva contraseña provisional
        </p>
      </a>
    </div>
    }@else {
    <mat-form-field class="form-field">
      <mat-label class="text-white">Contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        #inputNewPassword
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>
          {{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label class="text-white">Repite la contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        #inputRepeatNewPassword
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>
          {{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
    </mat-form-field>
    <div class="width-90 margin-auto">
      <button
        mat-fab
        extended
        color="primary"
        class="width-full margin-top-bottom"
        (click)="
          handleResetPassword(
            inputNewPassword.value,
            inputRepeatNewPassword.value
          )
        "
      >
        <mat-icon>send</mat-icon>
        Enviar
      </button>
    </div>

    } } }
  </div>
</div>
