.img-container {
  position: fixed;
  top: 130px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 80vh;
  overflow: auto;
}

.boton-cerrar-container {
  margin: 1rem;
}
.close-icon {
  width: 25px;
  height: 25px;
  font-size: 25px;
}

/***************** Vista PC 1008 ****************/
@media screen and (min-width: 1008px) {
  .img-container {
    width: 60%;
    left: 20%;
  }
}
