<!-- toma un padding top con el mismo tamaño que el navbar, para que no se quede escondido -->
<div class="padding-top-adjust imgBackground">
  <!-- contenedor principal -->
  <div class="contact-wrapper flex flex-column">
    <!-- icono principal -->
    <div class="flex justify-center">
      <div class="icono-container margin-top1rem">
        <mat-icon
          aria-hidden="false"
          aria-label="Clases de bachata en Torremolinos"
          fontIcon="perm_phone_msg"
          class="icons"
        >
        </mat-icon>
      </div>
    </div>
    <!-- titulo -->
    <h2 class="title margin-top1rem">CONTACTO</h2>
    <!-- tarjetas con cada uno de las formas de contactar -->
    <mat-card appearance="outlined" class="matCard margin-top1rem">
      <mat-card-title class="text-center margin-top1rem"
        ><span class="text-red">Contacta </span>con nosotros</mat-card-title
      >
      <mat-card-content
        >Si tienes alguna pregunta sobre las clases de kizomba, bachata y salsa
        en Torremolinos y Benalmádena, o quieres contactar con nosotros, a
        continuación te ofrecemos varias formas en las que podrás hacerlo.
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="https://wa.me/34649925439" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image whatsapp"></div>
          <mat-card-title class="">WhatsApp</mat-card-title>
          <mat-card-subtitle>+34 649 925 439</mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="tel://649925439" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image telefono"></div>
          <mat-card-title class="">Teléfono</mat-card-title>
          <mat-card-subtitle>+34 649 925 439</mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="https://t.me/+34649925439" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image telegram"></div>
          <mat-card-title class="">Telegram</mat-card-title>
          <mat-card-subtitle>+34 649 925 439</mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="mailto:bailaconsara@gmail.com" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image email"></div>
          <mat-card-title class="">Email</mat-card-title>
          <mat-card-subtitle>{{ email }}</mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="https://www.instagram.com/bailaconsara/" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image instagram"></div>
          <mat-card-title class="">Instagram</mat-card-title>
          <mat-card-subtitle>bailaconsara</mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="https://www.facebook.com/BailaConSara/" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image facebook"></div>
          <mat-card-title class="text-center">Facebook</mat-card-title>
          <mat-card-subtitle>BailaConSara</mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard">
      <a href="https://goo.gl/maps/QSf7APzPPpuMo78PA" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image ubicacion"></div>
          <mat-card-title class="">Ubicación Innova</mat-card-title>
          <mat-card-subtitle class="margin-bottom-1rem"
            >Av. Federico Gª Lorca, esquina con Camino del Prado (Frente a la
            biblioteca), Benalmádena.</mat-card-subtitle
          >
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card appearance="outlined" class="matCard margin-bottom-1rem">
      <a href="https://goo.gl/maps/qb5ZxrZtc598gR15A" class="link">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image ubicacion"></div>
          <mat-card-title class="">Ubicación Atrévete</mat-card-title>
          <mat-card-subtitle class="margin-bottom-1rem"
            >Av. Salvador Allende, 10 , Torremolinos. Entrada por Pasaje Decano
            Ferrer y Márquez 19.</mat-card-subtitle
          >
        </mat-card-header>
      </a>
    </mat-card>
  </div>
</div>
