//Ajusta el padding del componente para que no quede oculto por el nav
.padding-top-adjust {
  padding-top: 112px;
}
.main-container {
  display: flex;
  flex-direction: column;
}

//se acomodan automáticamente
.post-cards-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

//centra el boton
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

//Ajusta el padding del componente para que no quede oculto por el nav
@media (min-width: 600px) {
  .padding-top-adjust {
    padding-top: 128px;
  }
}

/* Vista Tablet*/
@media screen and (min-width: 791px) and (max-width: 1007px) {
  .post-cards-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .post-item {
    max-width: 48%;
  }
}

/***************** Vista PC 1008 ****************/
@media screen and (min-width: 1008px) {
  .post-cards-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .post-item {
    max-width: 30%;
  }
}
