.custom-snack-bar {
  background-color: #419a41;
  padding: 1rem;
  margin-right: -0.5rem;
}

.error-snackbar {
  background-color: #cd5151;
  padding: 1rem;
  margin-right: -0.5rem;
}
.text-white {
  color: white !important;
}
